<section class="chatroom-component">
  <ul id="nav-mobile" class="side-nav fixed" style="transform: translateX(0%);">
    <li class="logo">
      <a id="logo-container" href="#" class="brand-logo">
        <img [src]='currentUser?.password?.profileImageURL' class="profile-img"/>
        <span class="profile-email">{{currentUser?.password?.email}}</span>
      </a>
    </li>
    <li>
      <input placeholder="Add chatroom" (keydown)="create($event)" [(ngModel)]='chatRoom'/>
    </li>
    <li [class.active]='selectedChatRoom==chatRoom' *ngFor="let chatRoom of chatRooms | async">
      <a href="#" class="waves-effect waves-teal" (click)="onSelected(chatRoom)">{{chatRoom.name}}</a>
    </li>
  </ul>
  <chat [chatRoom]='selectedChatRoom' [currentUser]='currentUser'>
  </chat>
</section>
